body {
  background: #fff;
  font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 0px;

}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
